[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
dataclasses = "*"
python-decouple = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
coverage = "*"

[requires]
python_version = "3.10"
